@model QL_TrungTamAnhNgu.Models.LopHoc

@{
    ViewBag.Title = "ChiTietLopHoc";
    Layout = "~/Views/Shared/_LayoutGiangVien.cshtml";
}



<div class="row">
    <div id="sidebar" class="col-2 sidebar d-flex flex-column  align-items-center" style="box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);">

        <!-- Navigation Menu -->
        <ul class="nav text-dark nav-pills flex-column mt-3">
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center px-0 py-2" href="/GiangVien/XuLyDieuHuong/?malop=@Model.MaLop&page=ThongTin">
                    <i class=" me-1 fa-solid fa-cog me-2"></i>
                    <span>Thông tin lớp</span>
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center px-0 py-2" href="/GiangVien/XuLyDieuHuong/?malop=@Model.MaLop&page=HocVien">
                    <i class=" me-1 fa-solid fa-book me-2"></i>
                    <span>Học viên</span>
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center px-0 py-2" href="/GiangVien/XuLyDieuHuong/?malop=@Model.MaLop&page=DiemDanh">
                    <i class=" me-1 fa-regular fa-file-alt me-2"></i>
                    <span>Điểm danh</span>
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center px-0 py-2" href="/GiangVien/XuLyDieuHuong/?malop=@Model.MaLop&page=BaiTap">
                    <i class=" me-1 fa-regular fa-star me-2"></i>
                    <span>Bài tập</span>
                </a>
            </li>
        </ul>
    </div>


    <div id="contentArea" class="col-10" style="height: 500px; overflow-y: auto; transition: margin-left 0.3s;">
        @{
            string dieuHuong = TempData["DieuHuong"] as string;

            switch (dieuHuong)
            {
                case "ThongTin":
                    @Html.Action("ThongTin", "GiangVien", new { malop = Model.MaLop })
                    break;
                case "DiemDanh":
                @Html.Action("DiemDanh", "GiangVien")
                    break;
                case "BaiTap":
                @Html.Action("BaiTap", "GiangVien")
                    break;
                case "HocVien":
                @Html.Action("HocVien", "GiangVien")
                    break;
                default:
                @Html.Action("ThongTin", "GiangVien")
                    break;
            }
        }
    </div>
</div>

<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4" id="modalContent">
        </div>
    </div>
</div>

<script>
    function openModal(actionUrl) {
        $.ajax({
            url: actionUrl,
            type: "GET",
            success: function (data) {
                $("#modalContent").html(data);
                $("#dynamicModal").modal("show");
            },
            error: function () {
                alert("Không thể tải nội dung, vui lòng thử lại.");
            }
        });
    }
</script>